In [1]:
import pandas as pd
import numpy as np

In [2]:
df_sub = pd.read_csv('sample_submission.csv')
df = pd.read_csv('train.csv')
df_test = pd.read_csv('test.csv')

In [3]:
from sklearn.model_selection import train_test_split as tts
from sklearn.model_selection import GridSearchCV
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import cross_val_score as cvs

In [4]:
df.head()

,job_level,job_duration_in_current_job_level,person_level,job_duration_in_current_person_level,job_duration_in_current_branch,Employee_type,Employee_status,gender,age,marital_status_maried(Y/N),...,assign_of_otherposition,annual leave,sick_leaves,Best Performance,Avg_achievement_%,Last_achievement_%,Achievement_above_100%_during3quartal,achievement_target_1,achievement_target_2,achievement_target_3
0,JG05,8.00,PG06,8.00,0.50,RM_type_A,Permanent,Female,1964,Y,...,0,8,0,0,68.85,72.53,0.0,achiev_50%-100%,achiev_< 50%,reached
1,JG04,5.17,PG04,2.00,1.25,RM_type_A,Permanent,Male,1979,Y,...,9,3,0,0,94.81,101.13,3.0,achiev_50%-100%,achiev_50%-100%,reached
2,JG04,1.83,PG03,1.83,1.50,RM_type_A,Permanent,Male,1980,Y,...,0,6,0,0,72.82,71.30,0.0,achiev_100%-150%,achiev_< 50%,not_reached
3,JG04,7.92,PG04,4.00,0.17,RM_type_A,Permanent,Male,1984,Y,...,0,3,0,0,86.89,90.09,2.0,achiev_50%-100%,achiev_50%-100%,not_reached
4,JG04,1.83,PG03,1.83,2.08,RM_type_A,Permanent,Male,1984,Y,...,11,2,1,1,95.17,100.72,2.0,achiev_< 50%,achiev_> 1.5,not_reached

In [5]:
df_test.head()

,job_level,job_duration_in_current_job_level,person_level,job_duration_in_current_person_level,job_duration_in_current_branch,Employee_type,Employee_status,gender,age,marital_status_maried(Y/N),...,job_rotation,assign_of_otherposition,annual leave,sick_leaves,Avg_achievement_%,Last_achievement_%,Achievement_above_100%_during3quartal,achievement_target_1,achievement_target_2,achievement_target_3
0,JG05,1.42,PG05,1.42,0.5,RM_type_C,Permanent,Female,1983,Y,...,9,1,3,1,79.506667,94.17,1.0,achiev_50%-100%,achiev_< 50%,reached
1,JG04,1.58,PG03,1.58,2.0,RM_type_A,Permanent,Male,1988,N,...,2,2,4,1,54.283333,42.97,0.0,Pencapaian < 50%,Pencapaian < 50%,reached
2,JG04,1.83,PG03,1.83,1.5,RM_type_A,Permanent,Male,1988,Y,...,2,0,2,0,43.016667,44.28,0.0,achiev_50%-100%,achiev_< 50%,reached
3,JG05,8.00,PG06,5.00,1.5,RM_type_A,Permanent,Male,1973,Y,...,5,11,3,0,74.390000,80.93,0.0,Pencapaian 50%-100%,Pencapaian < 50%,not reached
4,JG04,1.92,PG03,1.92,0.5,RM_type_A,Permanent,Female,1985,Y,...,3,0,3,0,106.376667,109.09,3.0,Pencapaian 50%-100%,Pencapaian > 1.5,reached

In [6]:
df_sub.head()

   index  Best Performance
0      0                 0
1      1                 0
2      2                 0
3      3                 0
4      4                 0

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22005 entries, 0 to 22004
Data columns (total 30 columns):
job_level                                22005 non-null object
job_duration_in_current_job_level        22005 non-null float64
person_level                             22005 non-null object
job_duration_in_current_person_level     22005 non-null float64
job_duration_in_current_branch           22005 non-null float64
Employee_type                            21993 non-null object
Employee_status                          22005 non-null object
gender                                   22005 non-null object
age                                      22005 non-null int64
marital_status_maried(Y/N)               22005 non-null object
number_of_dependences                    22005 non-null int64
number_of_dependences (male)             22005 non-null int64
number_of_dependences (female)           22005 non-null int64
Education_level                          18397 non-null object
GPA                                      18502 non-null float64
year_graduated                           18502 non-null object
job_duration_as_permanent_worker         19950 non-null float64
job_duration_from_training               22005 non-null int64
branch_rotation                          22005 non-null int64
job_rotation                             22005 non-null int64
assign_of_otherposition                  22005 non-null int64
annual leave                             22005 non-null int64
sick_leaves                              22005 non-null int64
Best Performance                         22005 non-null int64
Avg_achievement_%                        15716 non-null float64
Last_achievement_%                       15703 non-null float64
Achievement_above_100%_during3quartal    15703 non-null float64
achievement_target_1                     15278 non-null object
achievement_target_2                     15278 non-null object
achievement_target_3                     15278 non-null object
dtypes: float64(8), int64(11), object(11)
memory usage: 5.0+ MB

In [8]:
df.isnull().sum()

job_level                                   0
job_duration_in_current_job_level           0
person_level                                0
job_duration_in_current_person_level        0
job_duration_in_current_branch              0
Employee_type                              12
Employee_status                             0
gender                                      0
age                                         0
marital_status_maried(Y/N)                  0
number_of_dependences                       0
number_of_dependences (male)                0
number_of_dependences (female)              0
Education_level                          3608
GPA                                      3503
year_graduated                           3503
job_duration_as_permanent_worker         2055
job_duration_from_training                  0
branch_rotation                             0
job_rotation                                0
assign_of_otherposition                     0
annual leave                                0
sick_leaves                                 0
Best Performance                            0
Avg_achievement_%                        6289
Last_achievement_%                       6302
Achievement_above_100%_during3quartal    6302
achievement_target_1                     6727
achievement_target_2                     6727
achievement_target_3                     6727
dtype: int64

In [9]:
df_test.isnull().sum()

job_level                                0
job_duration_in_current_job_level        0
person_level                             0
job_duration_in_current_person_level     0
job_duration_in_current_branch           0
Employee_type                            0
Employee_status                          0
gender                                   0
age                                      0
marital_status_maried(Y/N)               0
number_of_dependences                    0
number_of_dependences (male)             0
number_of_dependences (female)           0
Education_level                          0
GPA                                      0
year_graduated                           0
job_duration_as_permanent_worker         0
job_duration_from_training               0
branch_rotation                          0
job_rotation                             0
assign_of_otherposition                  0
annual leave                             0
sick_leaves                              0
Avg_achievement_%                        0
Last_achievement_%                       0
Achievement_above_100%_during3quartal    0
achievement_target_1                     0
achievement_target_2                     0
achievement_target_3                     0
dtype: int64

In [10]:
df1 = df.drop(['job_level', 'person_level', 'Employee_status', 'gender', 'Employee_type', 'marital_status_maried(Y/N)', 'Education_level', 'GPA', 'year_graduated', 'job_duration_as_permanent_worker', 'Avg_achievement_%', 'Last_achievement_%', 'Achievement_above_100%_during3quartal', 'achievement_target_1', 'achievement_target_2', 'achievement_target_3'], axis=1)
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22005 entries, 0 to 22004
Data columns (total 14 columns):
job_duration_in_current_job_level       22005 non-null float64
job_duration_in_current_person_level    22005 non-null float64
job_duration_in_current_branch          22005 non-null float64
age                                     22005 non-null int64
number_of_dependences                   22005 non-null int64
number_of_dependences (male)            22005 non-null int64
number_of_dependences (female)          22005 non-null int64
job_duration_from_training              22005 non-null int64
branch_rotation                         22005 non-null int64
job_rotation                            22005 non-null int64
assign_of_otherposition                 22005 non-null int64
annual leave                            22005 non-null int64
sick_leaves                             22005 non-null int64
Best Performance                        22005 non-null int64
dtypes: float64(3), int64(11)
memory usage: 2.4 MB

In [11]:
df2 = df_test.drop(['job_level', 'person_level', 'Employee_status', 'gender', 'Employee_type', 'marital_status_maried(Y/N)', 'Education_level', 'GPA', 'year_graduated', 'job_duration_as_permanent_worker', 'Avg_achievement_%', 'Last_achievement_%', 'Achievement_above_100%_during3quartal', 'achievement_target_1', 'achievement_target_2', 'achievement_target_3'], axis=1)
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6000 entries, 0 to 5999
Data columns (total 13 columns):
job_duration_in_current_job_level       6000 non-null float64
job_duration_in_current_person_level    6000 non-null float64
job_duration_in_current_branch          6000 non-null float64
age                                     6000 non-null int64
number_of_dependences                   6000 non-null int64
number_of_dependences (male)            6000 non-null int64
number_of_dependences (female)          6000 non-null int64
job_duration_from_training              6000 non-null int64
branch_rotation                         6000 non-null int64
job_rotation                            6000 non-null int64
assign_of_otherposition                 6000 non-null int64
annual leave                            6000 non-null int64
sick_leaves                             6000 non-null int64
dtypes: float64(3), int64(10)
memory usage: 609.5 KB

In [ ]:
x = df1.drop('Best Performance', axis=1)
y = df1['Best Performance']
x_train, x_test, y_train, y_test = tts(x, y, test_size=0.25, random_state=21, stratify=y)
knn = KNeighborsClassifier()
param = {'n_neighbors':np.arange(5, 50), 'weights':['distance', 'uniform']}
gscv = GridSearchCV(knn, param_grid=param, scoring='accuracy', cv=10)
gscv.fit(x, y)
y_pred = gscv.predict(x_test)

score = cvs(gscv, x, y, cv=10, scoring='accuracy').mean()

In [ ]:
score