**Imma try to encode objects and fills null values**

In [58]:
import pandas as pd
import numpy as np
import statistics
from sklearn.preprocessing import StandardScaler, LabelEncoder

In [59]:
train = pd.read_csv("train.csv")
test = pd.read_csv("test.csv")

In [60]:
train.info()
train.head(10)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11153 entries, 0 to 11152
Data columns (total 22 columns):
job_level                                11153 non-null object
job_duration_in_current_job_level        11153 non-null float64
person_level                             11153 non-null object
job_duration_in_current_person_level     11153 non-null float64
job_duration_in_current_branch           11153 non-null float64
Employee_type                            11153 non-null object
gender                                   11153 non-null int64
age                                      11153 non-null int64
marital_status_maried(Y/N)               11153 non-null object
number_of_dependences                    11153 non-null int64
Education_level                          11153 non-null object
GPA                                      11153 non-null float64
year_graduated                           11153 non-null int64
job_duration_from_training               11153 non-null int64
branch_rotation                          11153 non-null int64
job_rotation                             11153 non-null int64
assign_of_otherposition                  11153 non-null int64
annual leave                             11153 non-null int64
sick_leaves                              11153 non-null int64
Last_achievement_%                       11152 non-null float64
Achievement_above_100%_during3quartal    11152 non-null float64
Best Performance                         11153 non-null int64
dtypes: float64(6), int64(11), object(5)
memory usage: 1.9+ MB

,job_level,job_duration_in_current_job_level,person_level,job_duration_in_current_person_level,job_duration_in_current_branch,Employee_type,gender,age,marital_status_maried(Y/N),number_of_dependences,...,year_graduated,job_duration_from_training,branch_rotation,job_rotation,assign_of_otherposition,annual leave,sick_leaves,Last_achievement_%,Achievement_above_100%_during3quartal,Best Performance
0,JG04,1.352775,PG03,1.352775,1.732051,RM_type_A,2,1985,Y,1,...,2011,4,2,3,2,3,0,46.37,0.0,0
1,JG04,1.292285,PG03,1.292285,1.039230,RM_type_A,2,1989,Y,0,...,2007,4,4,3,0,0,1,47.68,0.0,0
2,JG05,2.565151,PG06,2.308679,1.780449,RM_type_C,1,1970,Y,1,...,1989,28,10,9,6,2,1,40.73,0.0,0
3,JG05,2.828427,PG06,1.000000,1.385641,RM_type_A,2,1967,Y,2,...,1987,29,11,6,0,4,10,47.42,0.0,1
4,JG05,2.828427,PG06,2.828427,0.707107,RM_type_A,2,1965,Y,3,...,1985,30,9,8,2,3,0,47.18,0.0,0
5,JG05,2.828427,PG06,2.121320,1.118034,RM_type_A,1,1971,Y,3,...,1990,28,7,9,4,0,0,48.46,0.0,0
6,JG05,2.828427,PG06,2.345208,2.102380,RM_type_A,1,1969,Y,2,...,1988,29,8,6,2,8,0,60.38,0.0,0
7,JG05,2.828427,PG06,2.236068,1.581139,RM_type_C,2,1968,Y,2,...,1987,29,6,8,1,3,4,14.71,0.0,0
8,JG04,1.118034,PG03,1.118034,0.412311,RM_type_B,1,1989,Y,0,...,2007,3,2,2,0,9,0,26.76,0.0,0
9,JG04,1.118034,PG03,1.118034,0.412311,RM_type_B,2,1991,N,0,...,2009,3,2,2,0,3,0,41.45,0.0,1

In [61]:
test.info()
test.head(10)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6000 entries, 0 to 5999
Data columns (total 21 columns):
job_level                                6000 non-null object
job_duration_in_current_job_level        6000 non-null float64
person_level                             6000 non-null object
job_duration_in_current_person_level     6000 non-null float64
job_duration_in_current_branch           6000 non-null float64
Employee_type                            6000 non-null object
gender                                   6000 non-null int64
age                                      6000 non-null int64
marital_status_maried(Y/N)               6000 non-null object
number_of_dependences                    6000 non-null int64
Education_level                          6000 non-null object
GPA                                      6000 non-null float64
year_graduated                           6000 non-null int64
job_duration_from_training               6000 non-null int64
branch_rotation                          6000 non-null int64
job_rotation                             6000 non-null int64
assign_of_otherposition                  6000 non-null int64
annual leave                             6000 non-null int64
sick_leaves                              6000 non-null int64
Last_achievement_%                       6000 non-null float64
Achievement_above_100%_during3quartal    6000 non-null float64
dtypes: float64(6), int64(10), object(5)
memory usage: 984.5+ KB

,job_level,job_duration_in_current_job_level,person_level,job_duration_in_current_person_level,job_duration_in_current_branch,Employee_type,gender,age,marital_status_maried(Y/N),number_of_dependences,...,GPA,year_graduated,job_duration_from_training,branch_rotation,job_rotation,assign_of_otherposition,annual leave,sick_leaves,Last_achievement_%,Achievement_above_100%_during3quartal
0,JG04,1.256981,PG03,1.256981,0.707107,RM_type_A,1,1988,N,0,...,3.08,2009,6,4,2,6,3,7,84.02,0.0
1,JG04,1.224745,PG03,1.224745,1.256981,RM_type_B,2,1991,N,0,...,3.31,2014,2,2,2,0,1,0,63.74,0.0
2,JG04,0.500000,PG03,0.500000,1.081665,RM_type_A,2,1989,Y,1,...,3.44,2011,4,2,2,0,2,1,88.19,1.0
3,JG04,1.256981,PG03,1.256981,1.802776,RM_type_A,2,1990,Y,1,...,0.00,2014,3,1,3,0,3,0,25.94,0.0
4,JG04,1.352775,PG03,1.352775,1.224745,RM_type_B,1,1985,Y,0,...,3.34,2007,5,3,2,0,3,0,82.32,0.0
5,JG04,1.081665,PG03,1.081665,1.581139,RM_type_B,2,1990,Y,0,...,3.33,2011,6,5,4,0,3,0,72.10,0.0
6,JG04,2.723968,PG04,2.000000,1.385641,RM_type_A,2,1982,Y,2,...,3.07,2004,7,3,4,3,0,1,35.58,0.0
7,JG04,1.352775,PG03,1.352775,1.322876,RM_type_A,2,1983,Y,3,...,2.49,2007,5,3,4,0,0,0,26.49,0.0
8,JG04,1.256981,PG03,1.256981,0.707107,RM_type_B,2,1988,Y,0,...,0.00,2012,4,3,2,0,5,4,68.09,0.0
9,JG04,1.118034,PG03,1.118034,1.581139,RM_type_B,2,1993,N,0,...,0.00,2015,3,1,2,0,2,0,70.53,0.0

In [62]:
#set age
train['age'] = 2021 - train['age']
test['age'] = 2021 - test['age']
train.loc[0:10, "age"]

0     36
1     32
2     51
3     54
4     56
5     50
6     52
7     53
8     32
9     30
10    55
Name: age, dtype: int64

In [63]:
train["year_graduated"] = 2021 - train["year_graduated"]
test["year_graduated"] = 2021 - test["year_graduated"]
train["year_graduated"].head(25)

0     10
1     14
2     32
3     34
4     36
5     31
6     33
7     34
8     14
9     12
10    36
11    14
12    10
13    22
14    29
15    12
16    13
17    12
18     9
19     8
20    32
21    12
22    33
23    38
24    12
Name: year_graduated, dtype: int64

In [64]:
#Fill Last_achievement_%
la_mean = train["Last_achievement_%"].mean()
la_median = train["Last_achievement_%"].median()
la_mode = statistics.mode(train["Last_achievement_%"].dropna())
print(la_mean, la_median, la_mode)
train["Last_achievement_%"] = train["Last_achievement_%"].replace(np.NaN, la_mean)

72.23490225968477 71.67500000000001 13.0

In [65]:
train["Last_achievement_%"].isnull().sum()

0

In [66]:
#Fill Achievement_above_100%_during3quartal
aa_mean = train["Achievement_above_100%_during3quartal"].mean()
aa_median = train["Achievement_above_100%_during3quartal"].median()
aa_mode = statistics.mode(train["Achievement_above_100%_during3quartal"].dropna())
print(aa_mean, aa_median, aa_mode)
train["Achievement_above_100%_during3quartal"] = train["Achievement_above_100%_during3quartal"].replace(np.NaN, aa_median)

0.679071018651363 0.0 0.0

In [67]:
train["Achievement_above_100%_during3quartal"].isnull().sum()

0

In [68]:
#Object data type treatment
le = LabelEncoder()
#every cols
obj_cols = ['job_level', 'person_level', 'Employee_type', 'marital_status_maried(Y/N)', 'Education_level']
for col in obj_cols:
    labels = train[col].unique().tolist() + test[col].unique().tolist()
    le.fit(labels)
    test[col] = le.transform(test[col].astype(str))
    train[col] = le.transform(train[col].astype(str))
    print(list(le.classes_))

['JG03', 'JG04', 'JG05', 'JG06']
['PG01', 'PG02', 'PG03', 'PG04', 'PG05', 'PG06', 'PG07', 'PG08']
['RM_type_A', 'RM_type_B', 'RM_type_C']
['N', 'Y']
['level_0', 'level_1', 'level_2', 'level_3', 'level_4', 'level_5']