**Imma try to encode objects and fills null values**

In [74]:
import pandas as pd
import numpy as np
import statistics
from sklearn.preprocessing import StandardScaler, LabelEncoder

In [75]:
train = pd.read_csv("train.csv")
test = pd.read_csv("test.csv")

In [76]:
train.info()
train.head(10)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22005 entries, 0 to 22004
Data columns (total 30 columns):
job_level                                22005 non-null object
job_duration_in_current_job_level        22005 non-null float64
person_level                             22005 non-null object
job_duration_in_current_person_level     22005 non-null float64
job_duration_in_current_branch           22005 non-null float64
Employee_type                            21993 non-null object
Employee_status                          22005 non-null object
gender                                   22005 non-null object
age                                      22005 non-null int64
marital_status_maried(Y/N)               22005 non-null object
number_of_dependences                    22005 non-null int64
number_of_dependences (male)             22005 non-null int64
number_of_dependences (female)           22005 non-null int64
Education_level                          18397 non-null object
GPA                                      18502 non-null float64
year_graduated                           18502 non-null object
job_duration_as_permanent_worker         19950 non-null float64
job_duration_from_training               22005 non-null int64
branch_rotation                          22005 non-null int64
job_rotation                             22005 non-null int64
assign_of_otherposition                  22005 non-null int64
annual leave                             22005 non-null int64
sick_leaves                              22005 non-null int64
Best Performance                         22005 non-null int64
Avg_achievement_%                        15716 non-null float64
Last_achievement_%                       15703 non-null float64
Achievement_above_100%_during3quartal    15703 non-null float64
achievement_target_1                     15278 non-null object
achievement_target_2                     15278 non-null object
achievement_target_3                     15278 non-null object
dtypes: float64(8), int64(11), object(11)
memory usage: 5.0+ MB

,job_level,job_duration_in_current_job_level,person_level,job_duration_in_current_person_level,job_duration_in_current_branch,Employee_type,Employee_status,gender,age,marital_status_maried(Y/N),...,assign_of_otherposition,annual leave,sick_leaves,Best Performance,Avg_achievement_%,Last_achievement_%,Achievement_above_100%_during3quartal,achievement_target_1,achievement_target_2,achievement_target_3
0,JG05,8.00,PG06,8.00,0.50,RM_type_A,Permanent,Female,1964,Y,...,0,8,0,0,68.850000,72.53,0.0,achiev_50%-100%,achiev_< 50%,reached
1,JG04,5.17,PG04,2.00,1.25,RM_type_A,Permanent,Male,1979,Y,...,9,3,0,0,94.810000,101.13,3.0,achiev_50%-100%,achiev_50%-100%,reached
2,JG04,1.83,PG03,1.83,1.50,RM_type_A,Permanent,Male,1980,Y,...,0,6,0,0,72.820000,71.30,0.0,achiev_100%-150%,achiev_< 50%,not_reached
3,JG04,7.92,PG04,4.00,0.17,RM_type_A,Permanent,Male,1984,Y,...,0,3,0,0,86.890000,90.09,2.0,achiev_50%-100%,achiev_50%-100%,not_reached
4,JG04,1.83,PG03,1.83,2.08,RM_type_A,Permanent,Male,1984,Y,...,11,2,1,1,95.170000,100.72,2.0,achiev_< 50%,achiev_> 1.5,not_reached
5,JG04,1.75,PG03,1.75,6.25,RM_type_C,Permanent,Male,1984,Y,...,14,12,0,1,89.303333,87.16,2.0,achiev_100%-150%,achiev_< 50%,reached
6,JG04,1.75,PG03,1.75,1.33,RM_type_B,Permanent,Female,1986,N,...,0,0,2,1,66.816667,70.43,0.0,achiev_50%-100%,achiev_< 50%,reached
7,JG04,1.75,PG03,1.75,5.92,RM_type_A,Permanent,Male,1984,Y,...,4,10,0,0,86.000000,81.32,2.0,achiev_50%-100%,achiev_< 50%,reached
8,JG04,2.42,PG03,2.42,1.50,RM_type_A,Permanent,Male,1987,Y,...,1,8,5,0,110.430000,101.79,3.0,achiev_50%-100%,achiev_100%-150%,not_reached
9,JG04,1.75,PG03,1.75,1.50,RM_type_C,Permanent,Male,1988,Y,...,2,5,1,0,92.126667,92.57,3.0,achiev_50%-100%,achiev_50%-100%,not_reached

In [77]:
#set age
train['age'] = 2021 - train['age']
test['age'] = 2021 - test['age']
train.loc[0:10, "age"]

0     57
1     42
2     41
3     37
4     37
5     37
6     35
7     37
8     34
9     33
10    35
Name: age, dtype: int64

In [78]:
#fill employee type with mode
train["Employee_type"] = train["Employee_type"].replace(np.NaN, statistics.mode(train["Employee_type"].astype(str)))
train["Employee_type"].isnull().sum()

0

In [79]:
train["Education_level"].isnull().sum()

3608

In [80]:
statistics.mode(train["Education_level"].astype(str))

'level_4'

In [81]:
#fill education level with mode
train["Education_level"] = train["Education_level"].replace(np.NaN, statistics.mode(train["Education_level"].astype(str)))

train.loc[0:10, "Education_level"]

0     level_4
1     level_4
2     level_5
3     level_3
4     level_4
5     level_4
6     level_4
7     level_4
8     level_3
9     level_4
10    level_4
Name: Education_level, dtype: object

In [82]:
train["Education_level"].isnull().sum()

0

In [83]:
#fill gpa with mean/median
gpa_mean = train["GPA"].mean()
gpa_median = train["GPA"].median()
#print(gpa_mean, gpa_median)
train.loc[train.GPA > 100, "GPA"] /= 100
train.loc[train.GPA > 10, "GPA"] *= 0.04
train.loc[train.GPA > 4, "GPA"] *= 0.4
#train.loc[train.GPA == 0.0, "GPA"] = gpa_median
train["GPA"] = train["GPA"].replace(np.NaN, gpa_median)

In [84]:
#delete MOTHERFUCKING \N
train.loc[train.year_graduated == "\\N", "year_graduated"] = np.NaN
#fill null with mode
train["year_graduated"] = train["year_graduated"].replace(np.NaN, statistics.mode(train["year_graduated"].dropna().astype(str)))
#set year_graduated???? FUCK THIS SHIT CAN'T CONVERT TO int
train["year_graduated"].head(25)

0     1987
1     2001
2     2007
3     2006
4     2013
5     2013
6     2008
7     2013
8     2008
9     2011
10    2013
11    2013
12    2010
13    2011
14    2013
15    2013
16    2013
17    2011
18    2014
19    2014
20    2013
21    2011
22    2013
23    1996
24    2008
25    2008
26    2006
27    2008
28    2010
29    2010
30    2013
31    2009
32    2011
33    2005
34    2008
35    2010
36    2011
37    2008
38    2011
39    2008
40    2007
41    2013
42    2013
43    2013
44    2013
45    2013
46    2012
47    2012
48    2012
49    2008
Name: year_graduated, dtype: object

In [86]:
#fill job_duration_as_permanent_worker
jd_mean = train["job_duration_as_permanent_worker"].mean()
jd_median = train["job_duration_as_permanent_worker"].median()
jd_mode = statistics.mode(train["job_duration_as_permanent_worker"].dropna())
#print(jd_mean, jd_median, jd_mode)
train["job_duration_as_permanent_worker"] = train["job_duration_as_permanent_worker"].replace(np.NaN, jd_median)
train["job_duration_as_permanent_worker"].head(25)

0     30.0
1     15.0
2     15.0
3      8.0
4      7.0
5      6.0
6      6.0
7      6.0
8      6.0
9      5.0
10     5.0
11     5.0
12     5.0
13     5.0
14     4.0
15     4.0
16     4.0
17     3.0
18     3.0
19     2.0
20    24.0
21    25.0
22    29.0
23    17.0
24     6.0
Name: job_duration_as_permanent_worker, dtype: float64

In [89]:
#fill Avg_achievement_%
aa_mean = train["Avg_achievement_%"].mean()
aa_median = train["Avg_achievement_%"].median()
aa_mode = statistics.mode(train["Avg_achievement_%"].dropna())
print(aa_mean, aa_median, aa_mode)
train["Avg_achievement_%"] = train["Avg_achievement_%"].replace(np.NaN, aa_mean)
train["Avg_achievement_%"].head(25)

66.34467570204448 66.34467570204471 66.34467570204471

0      68.850000
1      94.810000
2      72.820000
3      86.890000
4      95.170000
5      89.303333
6      66.816667
7      86.000000
8     110.430000
9      92.126667
10    105.880000
11     76.046667
12     74.820000
13     70.493333
14     98.570000
15    119.916667
16     78.720000
17     55.070000
18     55.350000
19     13.000000
20    111.900000
21     70.090000
22     83.813333
23     60.906667
24     70.010000
Name: Avg_achievement_%, dtype: float64