In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split as tts
from sklearn.model_selection import GridSearchCV
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import cross_val_score as cvs
from sklearn import preprocessing
import statistics

In [2]:
df_sub = pd.read_csv('sample_submission.csv')
df = pd.read_csv('train.csv')
df_test = pd.read_csv('test.csv')

In [3]:
le = preprocessing.LabelEncoder()
df['achievement_target_1'] = le.fit_transform(df['achievement_target_1'].astype(str))
## 0 for Pencapaian 100-150
## 1 for Pencapaian 50-100
## 2 for Pencapaian < 50
## 3 for Pencapaian > 150
## 4 for Pencapaian 0
df["achievement_target_1"] = df["achievement_target_1"].replace(5, 0)
df["achievement_target_1"] = df["achievement_target_1"].replace(6, 1)
df["achievement_target_1"] = df["achievement_target_1"].replace(7, 2)
df["achievement_target_1"] = df["achievement_target_1"].replace(8, 3)
df["achievement_target_1"] = df["achievement_target_1"].replace(9, 1)

In [4]:
le = preprocessing.LabelEncoder()
df['achievement_target_2'] = le.fit_transform(df['achievement_target_2'].astype(str))
## 0 for Pencapaian 100-150
## 1 for Pencapaian 50-100
## 2 for Pencapaian < 50
## 3 for Pencapaian > 150
## 4 for Pencapaian 0
df["achievement_target_2"] = df["achievement_target_2"].replace(5, 0)
df["achievement_target_2"] = df["achievement_target_2"].replace(6, 1)
df["achievement_target_2"] = df["achievement_target_2"].replace(7, 2)
df["achievement_target_2"] = df["achievement_target_2"].replace(8, 3)
df["achievement_target_2"] = df["achievement_target_2"].replace(9, 2)

In [5]:
le = preprocessing.LabelEncoder()
df['achievement_target_3'] = le.fit_transform(df['achievement_target_3'].astype(str))
## 1 for not reached
## 2 for reached
df["achievement_target_3"] = df["achievement_target_3"].replace(2, 1)
df["achievement_target_3"] = df["achievement_target_3"].replace(3, 2)
df["achievement_target_3"] = df["achievement_target_3"].replace(0, 2)

In [6]:
df["achievement_target_1"] = pd.to_numeric(df["achievement_target_1"])
df["achievement_target_2"] = pd.to_numeric(df["achievement_target_2"])
df["achievement_target_3"] = pd.to_numeric(df["achievement_target_3"])

In [7]:
le = preprocessing.LabelEncoder()
df_test['achievement_target_1'] = le.fit_transform(df_test['achievement_target_1'].astype(str))
## 0 for Pencapaian 100-150
## 1 for Pencapaian 50-100
## 2 for Pencapaian < 50
## 3 for Pencapaian > 150
## 4 for Pencapaian 0
df_test["achievement_target_1"] = df_test["achievement_target_1"].replace(5, 0)
df_test["achievement_target_1"] = df_test["achievement_target_1"].replace(6, 1)
df_test["achievement_target_1"] = df_test["achievement_target_1"].replace(7, 2)
df_test["achievement_target_1"] = df_test["achievement_target_1"].replace(8, 3)

In [8]:
le = preprocessing.LabelEncoder()
df_test['achievement_target_2'] = le.fit_transform(df_test['achievement_target_2'].astype(str))
## 0 for Pencapaian 100-150
## 1 for Pencapaian 50-100
## 2 for Pencapaian < 50
## 3 for Pencapaian > 150
## 4 for Pencapaian 0
df_test["achievement_target_2"] = df_test["achievement_target_2"].replace(5, 0)
df_test["achievement_target_2"] = df_test["achievement_target_2"].replace(6, 1)
df_test["achievement_target_2"] = df_test["achievement_target_2"].replace(7, 2)
df_test["achievement_target_2"] = df_test["achievement_target_2"].replace(8, 3)

In [9]:
le = preprocessing.LabelEncoder()
df_test['achievement_target_3'] = le.fit_transform(df_test['achievement_target_3'].astype(str))
## 1 for not reached
## 2 for reached
df_test["achievement_target_3"] = df_test["achievement_target_3"].replace(0, 1)

In [10]:
df_test["achievement_target_1"] = pd.to_numeric(df_test["achievement_target_1"])
df_test["achievement_target_2"] = pd.to_numeric(df_test["achievement_target_2"])
df_test["achievement_target_3"] = pd.to_numeric(df_test["achievement_target_3"])

In [14]:
df_test.head()

,job_level,job_duration_in_current_job_level,person_level,job_duration_in_current_person_level,job_duration_in_current_branch,Employee_type,Employee_status,gender,age,marital_status_maried(Y/N),...,job_rotation,assign_of_otherposition,annual leave,sick_leaves,Avg_achievement_%,Last_achievement_%,Achievement_above_100%_during3quartal,achievement_target_1,achievement_target_2,achievement_target_3
0,JG05,1.42,PG05,1.42,0.5,RM_type_C,Permanent,Female,1983,Y,...,9,1,3,1,79.506667,94.17,1.0,1,2,2
1,JG04,1.58,PG03,1.58,2.0,RM_type_A,Permanent,Male,1988,N,...,2,2,4,1,54.283333,42.97,0.0,2,2,2
2,JG04,1.83,PG03,1.83,1.5,RM_type_A,Permanent,Male,1988,Y,...,2,0,2,0,43.016667,44.28,0.0,1,2,2
3,JG05,8.00,PG06,5.00,1.5,RM_type_A,Permanent,Male,1973,Y,...,5,11,3,0,74.390000,80.93,0.0,1,2,1
4,JG04,1.92,PG03,1.92,0.5,RM_type_A,Permanent,Female,1985,Y,...,3,0,3,0,106.376667,109.09,3.0,1,3,2

In [15]:
df_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6000 entries, 0 to 5999
Data columns (total 29 columns):
job_level                                6000 non-null object
job_duration_in_current_job_level        6000 non-null float64
person_level                             6000 non-null object
job_duration_in_current_person_level     6000 non-null float64
job_duration_in_current_branch           6000 non-null float64
Employee_type                            6000 non-null object
Employee_status                          6000 non-null object
gender                                   6000 non-null object
age                                      6000 non-null int64
marital_status_maried(Y/N)               6000 non-null object
number_of_dependences                    6000 non-null int64
number_of_dependences (male)             6000 non-null int64
number_of_dependences (female)           6000 non-null int64
Education_level                          6000 non-null object
GPA                                      6000 non-null float64
year_graduated                           6000 non-null object
job_duration_as_permanent_worker         6000 non-null float64
job_duration_from_training               6000 non-null int64
branch_rotation                          6000 non-null int64
job_rotation                             6000 non-null int64
assign_of_otherposition                  6000 non-null int64
annual leave                             6000 non-null int64
sick_leaves                              6000 non-null int64
Avg_achievement_%                        6000 non-null float64
Last_achievement_%                       6000 non-null float64
Achievement_above_100%_during3quartal    6000 non-null float64
achievement_target_1                     6000 non-null int32
achievement_target_2                     6000 non-null int32
achievement_target_3                     6000 non-null int32
dtypes: float64(8), int32(3), int64(10), object(8)
memory usage: 1.3+ MB

In [16]:
df_test.isnull().sum()

job_level                                0
job_duration_in_current_job_level        0
person_level                             0
job_duration_in_current_person_level     0
job_duration_in_current_branch           0
Employee_type                            0
Employee_status                          0
gender                                   0
age                                      0
marital_status_maried(Y/N)               0
number_of_dependences                    0
number_of_dependences (male)             0
number_of_dependences (female)           0
Education_level                          0
GPA                                      0
year_graduated                           0
job_duration_as_permanent_worker         0
job_duration_from_training               0
branch_rotation                          0
job_rotation                             0
assign_of_otherposition                  0
annual leave                             0
sick_leaves                              0
Avg_achievement_%                        0
Last_achievement_%                       0
Achievement_above_100%_during3quartal    0
achievement_target_1                     0
achievement_target_2                     0
achievement_target_3                     0
dtype: int64